@page "/about"




@inject NavigationManager NavigationManager


<h4>About Us</h4>

<div class="card mx-auto " style="width: 60rem;">
    <img src="images/barn.jpg" class="card-img-top" alt="barn">
    <div class="card-body">
        <h5 class="card-title">Our Story</h5>
        <p class="card-text">
            We're the best in our field, and it's all thanks to the incredible relationships we've formed with our customers.
            Unlike our competitors, we're invested in developing a personal connection with each and every one of them
            by providing quality service and being available to you 24/7. One thing we pride ourselves in is our charitable contributions.
            <em>We are a NO waste facility.</em>Any food leftover at the end of the day doesn't get thrown out.
            We donate all food unless it's scraps to the local soup kitchens to feed the less fortunate,
            that's what sets us apart from everyone else. Our food speaks for itself as homemade, never from a bag or a box.
            <em>Where taste meets tradition!!!</em> Get in touch with us when you're ready to learn more. We can't wait to meet you!
            Get a fine dining experience family style!!!
        </p>
        <a href="#" class="btn btn-primary">Home</a>
    </div>
</div>



   
@code {

    

}
