@page "/contact"

@using EverythingFarm_Eat.Components.Models
@using Microsoft.AspNetCore.Components.Forms
@using EverythingFarm_Eat.Services
@using System.Threading.Tasks
@inject IEmailService EmailService
@inject NavigationManager NavigationManager

<h4>Contact Us</h4>

<div class="card">
    <div class="card-header bg-primary text-white">
        Contact Information
    </div>
    <div class="card-body">
        <h5 class="card-title">Hours of operation and ways to reach us</h5>
        <div class="row">
            <div class="card-text text-black">
                We are located at 93 Pierce Creek Rd. Binghamton, NY 13903
            <br />
                Monday - Saturday 6:00 am - 9:00 pm Sunday 9:00 am - 7:00 pm <b>Open 7 days a week.</b><br />
                Call us at 607-203-1658<br />
                Fax 607-203-1696<br />
                or email us at: <a href="mailto:ematthews69@theeverythingfarmeatery.com">ematthews69@theeverythingfarmeatery.com .</a>
                If you wish to make a reservation please include the date and time of your request. We look forward to seeing you soon!
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-footer text-muted">
                <span>
                    <strong>Follow Us:</strong>
                    <a href="https://www.facebook.com/theeverythingfarm01?mibextid=rS40aB7S9Ucbxw6v" target="_blank"><img src="images/icons8-facebook-48.png" /></a>
                    <a href="https://www.twitter.com/ellensmkway?s=11" target="_blank"><img src="images/icons8-twitterx-48.png" /></a>
                    <a href="https://www.instagram.com/theeverythingfarmandeatery/?igsh=ZDNxb3BvZTZvem53" target="_blank"><img src="images/icons8-instagram-48.png" /></a>

                </span>
            </div>
        </div>
    </div>
    
</div>
<div class="col mx-auto justify-content-center" style="margin-top: 10em;">
    <img src="images/everything_farm.svg" style="border-radius: 50%;" />
</div>









    


    

   
