@page "/contact"



@inject NavigationManager NavigationManager


<h4>Contact Us</h4>

<div class="container col d-flex justify-content-center">








</div>
<div class="card opacity-75">
    <div class="card-header bg-primary text-white " >
        Contact Information
    </div>
    <div class="card-body">
        <h5 class="card-title">Hours of operation and ways to reach us </h5>
        <div class="row">
            <p class="card-text">
                Monday - Saturday 8:30 am - 8:00 pm Sunday 9:00 am - 7:00 pm <b>Open 7 days a week.</b><br />
                Call us at 607-203-1658<br />
                           Fax 607-203-1696<br />
                or email us at: <a href="mailto:"EMatthews69@theeverythingfarmeatery.com">EMatthews69@theeverythingfarmeatery.com</a>. You can also use the convenient contact form below!
            </p>

        </div>
       
        
        
    </div>
    <div class="card-footer text-muted">
        The Everything Farm & Eatery, LLC.
    </div>
</div>
<br />



    

        










@code {

    
   
           
}
