@page "/delivery"

@using EverythingFarm_Eat.Components.Models

@inject NavigationManager NavigationManager

<h4>Delivery</h4>

<div class="card opacity-75">
    <div class="card-header">
        Delivery
    </div>
    <div class="card-body">
        <h5 class="card-title">Order Delivery</h5>
        <p class="card-text">If you live more than ten miles away click the button below or if you live within ten miles please
                            fill out the form below.
        </p>
        <a href="#" class="btn btn-primary">Order</a>
    </div>
</div>




@code {
   

}
