@page "/donations"

@inject NavigationManager NavigationManager


<div> 
   <h4>Donations</h4> 
</div>
<br />
<div class="card text-center ">
    <div class="card-header">
        GoFundMe
    </div>
    <div class="card-body bg-primary">
        <h5 class="card-title text-light">The Everything Farm & Eatery, LLC</h5>
        <p class="card-text text-center">Help us help you!
            <br />
            We believe in supporting the community. We make regular donations to local charities every day!
        <br /><br />
            <a href="https://gofund.me/899c4435" target="_blank" <img src="/images/everything_farm.svg"  style="border-radius: 50%;" ></a>
        </p>
        
        <a href="https://gofund.me/899c4435" class="btn btn-primary" target="_blank">Support Us</a>
    </div>
</div>
<div class="card text-center mx-auto">
    <div class="card-header">
        Donate
    </div>
    <div class="card-body bg-danger">
        <h5 class="card-title text-light">American Red Cross</h5>
        <p class="card-text text-center">Support the American Red Cross.
        <br /><br />
          <a href="https://www.redcross.org/?cid=generic&med=cpc&source=google&scode=RSG00000E017&gad_source=1&gclid=Cj0KCQiArrCvBhCNARIsAOkAGcXIoC-pzKSIako4UUNCJSlbUQDd5XgSXsOCtA0AY8wT0IQDEzrMjvkaAjw-EALw_wcB&gclsrc=aw.ds" target="_blank" <img src="/images/red_cross.png" style="border-radius: 50%;"/></a>
        </p>
        
        <a href="https://www.redcross.org/?cid=generic&med=cpc&source=google&scode=RSG00000E017&gad_source=1&gclid=Cj0KCQiArrCvBhCNARIsAOkAGcXIoC-pzKSIako4UUNCJSlbUQDd5XgSXsOCtA0AY8wT0IQDEzrMjvkaAjw-EALw_wcB&gclsrc=aw.ds" class="btn btn-primary" target="_blank">Donate</a>
    </div>
</div>
<div class="card text-center mx-auto">
    <div class="card-header">
        Charity of the Month
    </div>
    <div class="card-body bg-success">
        <h5 class="card-title text-light">Food Bank of the Southern Tier</h5>
        <p class="card-text text-center">
            Donate to Your Local Food Bank.
            <br /><br />
           <a href="https://www.foodbankst.org/ways-to-give/donate/" target="_blank" <img src="/images/foodbankst.jpg" style="border-radius: 50%;"/></a>
        </p>
        <a href="https://www.foodbankst.org/ways-to-give/donate/" class="btn btn-primary" target="_blank">Donate</a>
    </div>
    
</div>


@code {

}
