@page "/donations"

@inject NavigationManager NavigationManager


<div> 
   <h4>Donations</h4> 
</div>
<br />
<div class="card text-center ">
    <div class="card-header">
        GoFundMe
    </div>
    <div class="card-body bg-primary">
        <h5 class="card-title text-light">The Everything Farm & Eatery, LLC</h5>
        <p class="card-text text-center">Help us help you!
            <br />
            We believe in supporting the community. We make regular donations to local charities every day!
        <br /><br />
            <img src="/images/everything_farm.svg" />
        </p>
        
        <a href="https://gofund.me/899c4435" class="btn btn-primary" target="_blank">Support Us</a>
    </div>
</div>
<div class="card text-center mx-auto">
    <div class="card-header">
        Donate
    </div>
    <div class="card-body bg-danger">
        <h5 class="card-title text-light">American Red Cross</h5>
        <p class="card-text text-center">Support the American Red Cross.
        <br /><br />
            <img src="/images/red_cross.png" />
        </p>
        
        <a href="https://www.redcross.org/?cid=generic&med=cpc&source=google&scode=RSG00000E017&gad_source=1&gclid=Cj0KCQiArrCvBhCNARIsAOkAGcXIoC-pzKSIako4UUNCJSlbUQDd5XgSXsOCtA0AY8wT0IQDEzrMjvkaAjw-EALw_wcB&gclsrc=aw.ds" class="btn btn-primary" target="_blank">Donate</a>
    </div>
    <div class="card-footer text-muted">
        Donate
    </div>
</div>


@code {

}
