@page "/garden"

@inject NavigationManager NavigationManager
<h4>Garden</h4>
<h4 class="text-warning">Shop here for seedlings and special gifts!</h4>

<div class="card mb-3 opacity-75" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body bg-success">
                <h5 class="card-title text-warning">Seedlings</h5>
                <p class="card-text text-light">Start or make your garden even more beautiful with our high quality seedlings. We have a wide variety of choices.
                                                Bring the wonders of nature into your life!
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 opacity-75" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body bg-primary">
                <h5 class="card-title text-light">Gifts For You</h5>
                <p class="card-text text-light">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

@code {

}
