@page "/gifts"

@using EverythingFarm_Eat.Components.Models

@inject NavigationManager NavigationManager

<h4>Gifts</h4>

<h4 class="text-warning">A Variety of Gifts for you </h4>

<div class="row">
    <div class="col-12"
        <div class="card mb-3 opacity-75">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
                <p class="card-text">Choose from our wide variety of items below and contact us with your choices! Please make sure to include the quantity and item type(s) in your message.
                                    We will send you your final total before ordering.
                </p>   
                <div class="col mb-3 text-center">
                    <button type="button" class="btn btn-primary rounded">Request</button>
                </div>
            
                <p class="card-text text-center"><small class="text-muted">The Everything Farm & Eatery, LLC.</small></p>
            </div>
            
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img src=""
    </div>
</div>

@code {

}
