@page "/gifts"

@using EverythingFarm_Eat.Components.Models

@inject NavigationManager NavigationManager



<h4>Gifts</h4>

<h4 class="text-warning">A Variety of Gifts for you </h4>

<div class="row">
    <div class="col-12">
        <div class="card mb-3 opacity-75" style="background: plum;">
            
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
            <div class="bg-light">
                <span>
                    <img src="/images/gift1.jpg" class="gifts-image justify-content-evenly" style="margin: auto; padding: 2em;" alt="jewelery1"/>
                    <img src="/images/gift2.jpg" class="gifts-image justify-content-evenly" style="margin: auto; padding: 2em;" alt="jewerly2"/>
                </span>

            </div>
            <div class="button">
                <a href="https://online.skytab.com/bb67bd833da4c43835388ffd3e017e65/order-settings" class="btn btn-primary" role="button" target="_blank">Order</a>
            </div>
         </div> 
         
        </div>
        
    </div>   
</div>
<div class="col mx-auto justify-content-center" style="margin-top: 10em;">
    <img src="images/everything_farm.svg" style="border-radius: 50%;"/>
</div>


@code {
   
}
