@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>



<h1>The Everything Farm & Eatery, LLC</h1>

<h3>Explore a new world of delicious food and experience a truly unique business</h3>

<div class="card-group">
    <div class="card">
        <img src="images/farm.jpg" class="card-img-top" alt="farm">
        <div class="card-body">
            <h5 class="card-title">The Everything Farm</h5>
            <p class="card-text">A unique shopping experience. From baked goods to special gifts for every member of your family. Visit us today!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="images/restaurant.jpg" class="card-img-top" alt="restaurant">
        <div class="card-body">
            <h5 class="card-title">The Eatery</h5>
            <p class="card-text">All we have is homemade. We only serve the freshest and best tasting food you've had! We also believe in supporting our community
                                by donating anything unsold to local soup kitchens and food pantries.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="images/seedlings.jpg" class="card-img-top" alt="garden">
        <div class="card-body">
            <h5 class="card-title">Gorgeous Garden</h5>
            <p class="card-text">We have everything you need for your garden. From seedlings to crisp produce. Let us help you to eat better.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
   
   

<p>
    <a class="btn btn-primary" href="#" role="button">About</a>
    <button class="btn btn-success" type="button">Farm</button>
    <button class="btn btn-primary" type="button">Restaurant</button>
    <button class="btn btn-success" type="button">Menu</button>
    <button class="btn btn-primary" type="button">Contact Us</button>


</p>


