@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<h1>The Everything Farm & Eatery, LLC</h1>

 
<div>
    
</div>


<h3>Explore a new world of delicious food and experience a truly unique business</h3>

<div class="card-group">
    <div class="card opacity-75 ">
        <img src="images/farm.jpg" class="card-img-top" alt="farm">
        <div class="card-body">
            <h5 class="card-title">The Everything Farm</h5>
            <p class="card-text">A unique shopping experience. From baked goods to special gifts for every member of your family. Don't forget to ask about the Home Devotions
                                home remodeling service. Visit us today!</p>
            <a class="btn btn-primary" href="about" role="button">About</a>
            <a class="btn btn-success" href="farm" role="button">Farm</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">The Everything Farm & Eatery, LLC</small>
        </div>
    </div>
    <div class="card opacity-75">
        <img src="images/restaurant.jpg" class="card-img-top" alt="restaurant">
        <div class="card-body">
            <h5 class="card-title">The Eatery</h5>
            <p class="card-text">All we have is homemade. We only serve the freshest and best tasting food! We believe in supporting our community
                                by donating food to local soup kitchens and food pantries.</p>
            <a class="btn btn-primary" href="restaurant" role="button">Restaurant</a>
            <a class="btn btn-success" href="menu" role="button">Menu</a>

        </div>
        <div class="card-footer">
            <small class="text-muted">This site created by RDM Software Solutions</small>
        </div>
    </div>
    <div class="card opacity-75">
        <img src="images/seedlings.jpg" class="card-img-top" alt="garden">
        <div class="card-body">
            <h5 class="card-title">Gorgeous Garden</h5>
            <p class="card-text">We can assist you with all of your needs for your garden. We have everything from seedlings to the freshest produce. Let us help you eat better!</p>
            <a class="btn btn-primary" href="garden" role="button">Go Garden</a>
            <a class="btn btn-success" href="contact" role="button">Contact Us</a>
        </div>
        
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

@code {

}
   
   

