@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<h1>The Everything Farm & Eatery, LLC</h1>
<h4 class="text-center text-black">93 Pierce Creek Rd Binghamton, NY 13903</h4>
<h4 class="text-center" style="font-family: 'Segoe UI'; color: plum;">Phone: (607)203-1658</h4>



<h3>Explore a new world of delicious food and experience a truly unique business</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 opacity-75">
           <a href="farm" target="_blank"<img src="images/every_farm_eat.jpg" class="card-img-top opacity-100" alt="farm"></a>
            <div class="card-body">
                <h5 class="card-title">The Everything Farm</h5>
                <p class="card-text">Come back to the country! Join us at The Everything Farm & Eatery. Don't forget to ask about our home remodeling service to make your house even more of a home.
                                    Explore all we have to offer!</p>
                
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="farm" target="_blank" role="button">Farm</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 opacity-75">
          <a href="restaurant" target="_blank"<img src="images/eatery.jpg" class="card-img-top" alt="restaurant"></a>
            <div class="card-body">
                <h5 class="card-title">The Eatery</h5>
                <p class="card-text">Dine on the best homemade dishes you have ever had. We only serve the best food made with the freshest ingrediants. We also donate any leftovers to local 
                                    food pantries and soup kitchens.We believe in supporting our community!   
                </p>
                
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="restaurant" target="_blank" role="button">Restaurant</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 opacity-75">
            <a href="gifts" target="_blank"<img src="images/garden.jpg" class="card-img-top" alt="garden"></a>
            <div class="card-body">
                <h5 class="card-title">Farm Fresh-n-Go</h5>
                <p class="card-text">We sell many of our products including produce and seedlings along with baked goods and can ship these items within the United States!</p>
                
            </div>

            


            <div class="card-footer">
                <a class="btn btn-primary" href="garden" target="_blank" role="button">Shop</a>
            </div>
        </div>
    </div>
</div>



@code {

}
   
   

