@page "/restaurant"

@inject NavigationManager NavigationManager

<h4>The Eatery</h4>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card opacity-75">
            <img src="..." class="card-img-top" alt="menu">
            <div class="card-body">
                <h5 class="card-title">Our Menu</h5>
                <p class="card-text">Explore our menu from a variety of delicious offerings below</p>
                <button class="btn btn-primary" type="button">Menu</button>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reservations</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button class="btn btn-primary" type="button">Reservations</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button class="btn btn-primary" type="button">Delivery</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <button class="btn btn-success" type="button">Contact Us</button>
            </div>
        </div>
    </div>
</div>

@code {

}
