@page "/restaurant"

@inject NavigationManager NavigationManager

<h4>The Eatery</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card opacity-100">
            <img src="images/menu.jpg" class="card-img-top" alt="menu">
            <div class="card-body">
                <h5 class="card-title">Our Menu</h5>
                <p class="card-text">You can explore our extensive menu below for all our delicious offerings. Experience great food and amazing customer service.</p>
                <button class="btn btn-primary" href="menu" type="button">Menu</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-100">
            <img src="images/reservation.jpg" class="card-img-top" alt="reservations">
            <div class="card-body ">
                <h5 class="card-title">Reservations</h5>
                <p class="card-text">We take reservations from you to make your experience even more special. Just contact us to make your reservation today!</p>
                <button class="btn btn-primary" href="contact" type="button">Reservations</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-100">
            <img src="images/delivery.png" class="card-img-top" alt="delivery">
            <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">We deliver our wonderful offerings both locally and online. We want you to always have the best, so place your order now!</p>
                <button class="btn btn-primary" href="contact" type="button">Delivery</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-100">
            <img src="images/contact.png" class="card-img-top" alt="contact us">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">We are more than happy to answer any questions you may have about our business. Don't hesitate to contact us anytime and we will get back to you in a timely manner.'</p>
                <button class="btn btn-success" href="contact" type="button">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-100">
            <img src="images/donations.jpg" class="card-img-top" alt="donations">
            <div class="card-body">
                <h5 class="card-title">Donations</h5>
                <p class="card-text">At the very core of what we do besides delivering the best food and service is to make the world a better place by supporting our local community.
                                    We donate any food that we can to local food pantries and charities. We also offer a way for you to support your community by donating right here.
                </p>
                <button class="btn btn-primary" href="donations" type="button">Donations</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-100">
            <img src="images/reviews.png" class="card-img-top" alt="testimonials">
            <div class="card-body">
                <h5 class="card-title">Testamonials</h5>
                <p class="card-text">Find out what our customers have to say about their experience with us. We always welcome feedback to help improve every day!</p>
                <button class="btn btn-success" href="reviews" type="button">Testamonials</button>
            </div>
        </div>
    </div>
</div>
@code {

}
