@page "/restaurant"

@inject NavigationManager NavigationManager

<h4>The Eatery</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card opacity-75">
            <img src="images/menu.jpg" class="card-img-top fixed_width" alt="menu" ng-src="images/menu.jpg"/>
            <div class="card-body">
                <h5 class="card-title">Our Menu</h5>
                <p class="card-text">You can explore our extensive menu below for all our delicious offerings. Experience great food and amazing customer service.</p>
                <a class="btn btn-primary" href="menu" role="button">Menu</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/reservation.jpg" class="card-img-top fixed_width" alt="reservations">
            <div class="card-body ">
                <h5 class="card-title">Reservations</h5>
                <p class="card-text">We take reservations from you to make your experience even more special. Just contact us to make your reservation today!</p>
                <a class="btn btn-primary" href="contact" role="button">Reservations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/delivery.png" class="card-img-top fixed_width" alt="delivery" ng-src="images/delivery.jpg"/>
            <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">We deliver our goods both locally and online. We can ship our items within the United States. We only make the best, so place your order now!</p>
                <a class="btn btn-primary" href="contact" role="button">Delivery</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card opacity-75">
            <img src="images/donations.jpg" class="card-img-top fixed_width" alt="donations" ng-src="images/logo.png"/>
            <div class="card-body">
                <h5 class="card-title">Donations</h5>
                <p class="card-text">At the very core of what we do besides delivering the best food and service is to make the world a better place by supporting our local community.
                                    We donate any food that we can to local food pantries and charities. We also offer a way for you to support your community by donating right here.
                </p>
                <a class="btn btn-primary" href="donations" role="button">Donations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/reviews.png" class="card-img-top fixed_width" alt="testimonials" ng-src="images/logo.png"/>
            <div class="card-body">
                <h5 class="card-title">Testamonials</h5>
                <p class="card-text">Find out what our customers have to say about their experience with us. Please let us know how we are doing whenever you visit or order online. 
                                    We always welcome feedback to help improve our customer's experience every day!</p>
                <a class="btn btn-success" href="reviews" role="button">Testamonials</a>
            </div>
        </div>
    </div>
 </div>      

@code {

}
