@page "/restaurant"

@inject NavigationManager NavigationManager

<h4>The Eatery</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card opacity-75">
            <img src="images/menu.jpg" class="card-img-top fixed_width" alt="menu" ng-src="images/menu.jpg"/>
            <div class="card-body">
                <h5 class="card-title">Our Menu</h5>
                <p class="card-text">You can explore our extensive menu below for all our delicious offerings. Experience great food and amazing customer service.</p>
                <a class="btn btn-primary" href="menu" target="_blank" role="button">Menu</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/reservation.jpg" class="card-img-top fixed_width" alt="reservations">
            <div class="card-body ">
                <h5 class="card-title">Reservations</h5>
                <p class="card-text">Book today and experience the top-notch quality of our service firsthand. Your tastebuds will thank you.</p>
                <a class="btn btn-primary" href="contact" target="_blank" role="button">Reservations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/delivery.png" class="card-img-top fixed_width" alt="delivery" ng-src="images/delivery.jpg"/>
            <div class="card-body">
                <h5 class="card-title">Delivery</h5>
                <p class="card-text">We deliver to your door for a small fee. Our drivers are kind and courteous. Our team works hard to make sure we deliver on time every time.</p>
                <a class="btn btn-primary" href="delivery" target="_blank" role="button">Delivery</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card opacity-75">
            <img src="images/donations.jpg" class="card-img-top fixed_width" alt="donations" ng-src="images/logo.png"/>
            <div class="card-body">
                <h5 class="card-title">Donations</h5>
                <p class="card-text">
                    We accept donations for the American Red Cross, CHOW and local food pantries. We deliver all donations to each facility every Friday. 
                    You can help make a difference by supporting us with the button below.
                </p>
                <a class="btn btn-primary" href="https://gofund.me/899c4435" target="_blank" role="button">Donations</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card opacity-75">
            <img src="images/reviews.png" class="card-img-top fixed_width" alt="testimonials" ng-src="images/logo.png"/>
            <div class="card-body">
                <h5 class="card-title">Testamonials</h5>
                <p class="card-text">Find out what our customers have to say about their experience with us. Please let us know how we are doing whenever you visit or order online. 
                                    We always welcome feedback to help improve our customer's experience every day!</p>
                <a class="btn btn-success" href="reviews" target="_blank" role="button">Testamonials</a>
            </div>
        </div>
    </div>
 </div>      

@code {

}
