@page "/reviews"

@inject NavigationManager NavigationManager

<h4>Testamonials</h4>

<h5><img src="/images/fivestar.jpg" alt="5 star reviews" style="border-radius: 0;  width: 200px; height: 80px;"/></h5>


<div class="container">
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/me3.jpg" class="img-thumbnail rounded-circle testimonial-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Excellent experience</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            "Delicous homemade meal at a great price. I will be back again!"
                        </div> 
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="..." class="img-thumbnail rounded-circle testimonial-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="..." class="img-thumbnail rounded-circle testimonial-image testimonial-col" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="..." class="img-thumbnail rounded-circle testimonial-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="..." class="img-thumbnail rounded-circle testimonial-image" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

    </div>






</div>
   
    

    







@code {

}
