@page "/reviews"

@inject NavigationManager NavigationManager

<h4>Testamonials</h4>

<h5><img src="/images/fivestar.jpg" alt="5 star reviews" style="border-radius: 0;  width: 200px; height: 80px;"/></h5>


<div class="container">
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/me3.jpg" class="img-thumbnail rounded-circle testimonial-image" alt="Customer Img1">
                <br />
                <div class="text-center">Robert M</div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Excellent Experience</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            "Delicous homemade meal at a great price.<br />
                            The meatball sub was really delicious.<br />
                            I will be back again!"
                        </div> 
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/face4.jpg" class="img-thumbnail rounded-circle testimonial-image" alt="...">
                <br />
                <div class="text-center">Iesa H</div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Loved their food</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            I ordered a mushroom Swiss burger for lunch. It was delivered on time! My burger was incredible. It was possibly the best mushroom Swiss burger I've had. I could have made two meals out of this burger!<br />
                            I will definitely order from them again<br />
                            and I am looking forward to eating a meal at their restaurant.
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/face1.jpg" class="img-thumbnail rounded-circle testimonial-image testimonial-col" alt="...">
                <br />
                <div class="text-center">Paul B</div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Great delivery</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            Quick delivery service and the food was excellent.<br />
                            I look forward to ordering again and visiting in person to experience<br />
                            their dine-in service.
                        </div>
                    </p>
                </div>


            </div>
        </div>
    </div>

 
        
 
 
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/face2.jpg" class="img-thumbnail rounded-circle testimonial-image" alt="face 2">
                <br />
                <div class="text-center">Ben H</div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Excellent take-out</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            Called in an order and it was all ready when I got there. Very friendly service<br />
                            and the food was really great. I will definitely be <br />
                            ordering from them again soon.
                        </div>
                    </p>
                </div>



            </div>
        </div>
    </div>

 
        
            
 
    <div class="card mb-3 testimonial-card">
        <div class="row g-0">
            <div class="col-md-4 testimonial-col">
                <img src="images/face3.jpg" class="img-thumbnail rounded-circle testimonial-image" alt="face3">
                <br />
                <div class="text-center">Susan F</div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Very pleased</h5>
                    <p class="card-text">
                        <div class="blockquote">
                            We ordered their family-style catering pack and everyone<br />
                            was very pleased with the taste and variety of dishes.<br />
                            The next time we have a family gathering I will be placing an order.
                        </div>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

     
        

       

   
    

    







@code {

}
